.top-navigation-feed {
  background: $backgroundGrey;
  position: fixed;
  height: 50px;
  margin-top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 99999;
  button {
    background: $backgroundGrey;
    border: none;
    border-bottom: 1px solid #e0e1e2;
    border-right: 1px solid #e0e1e2;
    color: $colorText;
    display: block;
    float: left;
    font-family: $appFontBold;
    font-size: 0.7rem;
    line-height: 50px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 33.3333%;
  }
  button.active {
    border-bottom: 2px solid $colorRed;
  }
}

.feed-container {
  background: $backgroundGreyStrong;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  .loading-progress {
    text-align: center;
    svg {
      color: $colorAccent;
    }
  }
}

.list-posts {
  margin: 0;
  list-style: none;
  padding: 64px 0 148px;
  li {
    margin-bottom: 24px;
  }
  .post-card {
    background: $backgroundGrey;
    border-bottom: 1px solid #e0e1e2;
    border-top: 1px solid #e0e1e2;
  }
  .card-header {
    background: $backgroundGrey;
    border: none;
    margin: 0;
    padding: 12px 0;
  }
  .user-info {
    margin: 0 16px 0 16px;
    overflow: hidden;
    .profile-img {
      border-radius: 50%;
      float: left;
      margin-right: 8px;
      height: 50px;
      width: 50px;
    }
    .profile-name {
      display: block;
      color: $colorText;
      font-family: $appFont;
      font-size: 0.9rem;
      font-weight: bold;
      margin-top: 5px;
    }
    .post-date {
      color: $colorSubText;
      display: block;
      font-size: 0.9rem;
      font-family: $appFont;
      line-height: 1.2;
    }
  }
  .card-body {
    margin: 0;
    padding: 0;
    .post-img {
      width: 100%;
    }
    .post-title {
      display: block;
      color: $colorText;
      font-family: $appFont;
      font-size: 1rem;
      font-weight: bold;
      margin: 12px 16px 4px 16px;
    }
    .post-text {
      color: $colorText;
      display: block;
      font-family: $appFont;
      font-size: 0.9rem;
      margin: 0 16px 16px 16px;
    }
  }
}