a:hover {
  text-decoration: none;
}

.mobile-container{
  background: $backgroundGreyStrong;
  position: absolute;
  height: 100%;
  padding: 54px 0;
  width: 100%;
  .mobile-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: $colorPrimary;
    z-index: 99999;
    img {
      margin: 12px 8px 12px 16px;
      height: 30px;
    }
  }

  .MuiBottomNavigation-root {
    border-top: 1px solid #e0e1e2;
    .MuiBottomNavigationAction-root.Mui-selected {
      color: $colorRed;
    }
    .MuiBottomNavigationAction-root {
      min-width: 1px;
      padding: 8px 12px 8px;
      width: 20%;
    }
  }
}