.users-container {
  background: $backgroundGreyStrong;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  .loading-progress {
    text-align: center;
    svg {
      color: $colorAccent;
    }
  }
}
.list-users {
  margin: 0 16px;
  list-style: none;
  padding: 0 0 124px;
  li {
    margin: 16px 0;
    a {
      display: block;
      overflow: hidden;
    }
    img {
      border-radius: 50%;
      float: left;
      height: 50px;
      margin-right: 16px;
      width: 50px;
    }
    span {
      display: block;
    }
    span.user-name {
      color: $colorText;
      font-family: $appFont;
      font-size: 0.9rem;
      font-weight: bold;
      margin-top: 4px;
    }

    span.user-occupation {
      color: $colorSubText;
      font-size: 0.9rem;
      font-family: $appFont;
      line-height: 1.2;
    }
  }
}

.single-user-container {
  .profile-photo {
    background: url("/assets/images/bg_user_profile.png") no-repeat;
    background-size: 100%;
    margin-top: -5px;
    text-align: center;
    img {
      width: 50%;
      border-radius: 50%;
      border: 0.4rem solid $backgroundGrey;
      margin-top: 25px;
    }
  }
  .user-name {
    text-align: center;
    h1 {
      color: $colorText;
      font-family: $appFontBold;
      font-size: 1.8rem;
    }
  }
  .user-info {
    margin: 16px 24px;
    li {
      font-family: $appFont;
      color: $colorText;
      i {
        min-width: 25px;
      }
      b {
        color: $colorLink;
      }
    }
  }
  .user-description {
    color: $colorText;
    font-family: $appFont;
    margin: 16px 24px;
    span {
      font-weight: bold;
    }
  }
}