.complete-register {
  background: $colorPrimary;
  header {
    width: 100%;
    .container {
      overflow: hidden;
    }
  }
  .logo {
    float: left;
    img {
      height: 30px;
      margin: 22px 0;
    }
  }

  h2, h3, h4 {
    color: $colorPrimary;
    font-family: $title-font;
    font-weight: bold;
  }

  p {
    font-size: 14px;
    margin-bottom: 48px;
  }
  .content {
    background: $backgroundGreyStrong;
    text-align: center;
    padding: 64px 0;
    width: 100%;
  }

  .img-avatar {
    height: 180px;
    width: 180px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }

  .MuiRadio-colorPrimary.Mui-checked {
    color: $colorLink !important;
  }

  .MuiFormLabel-root.Mui-focused {
    color: $colorLink !important;
  }
  form {

    p.drop-image {
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      color: $colorSubText;
      max-width: 200px;
      margin: 0 auto 16px auto;
    }

    .radio-group {
      display: block;
      padding-left: 6px;
      margin-bottom: -10px;
      legend {
        color: $colorText;
        float: left;
        padding: 12px 16px 10px 0;
        width: auto;
      }
    }

    span.MuiFormControlLabel-label {
      color: $colorText;
    }

    .PrivateSwitchBase-root-29 {
      padding-right: 5px;
    }

    label.MuiInputLabel-formControl {
      color: $colorText;
    }

    label.MuiFormLabel-root.Mui-focused {
      color: $colorAccent;
    }

    .MuiInput-underline:hover:not(.Mui-disabled):before {
      border-bottom: 1px solid $colorLink;
    }

    .MuiInput-underline:after {
      border-bottom: 1px solid $colorAccent;
    }

    .MuiInput-underline:before {
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    }

    .autocomplete-dropdown-container {
      position: absolute;
      z-index: 99999;
      text-align: left;
      width: 100%;
    }
    .suggestion-item {
      background: #33658A !important;
      color: #FAFAFA;
      font-size: 14px;
      padding: 8px 12px;
    }
    .suggestion-item--active {
      background: #448CBF !important;
      color: #FAFAFA;
      font-size: 14px;
      padding: 8px 12px;
    }

    .autocomplete-loading {
      background: $backgroundGrey;
      color: $colorText;
      font-size: 14px;
      padding: 8px 12px;
    }

    #bt-form {
      background: $colorRed;
      border-radius: 0.15rem;
      border: none;
      margin-top: 24px;
      height: 45px;
      width: 100%;
    }
  }
  button.bt-logout {
    background: none;
    border: none;
    color: #f3f4f6;
    float: right;
    font-weight: bold;
    margin-top: 25px;
  }
}