input, button {
  outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.form-control:focus {
  border-color: #ced4da;
  -webkit-box-shadow: none;
  box-shadow: none;
}

p {
  font-family: $text-font;
  color: $colorText;
}

.app-wrap {
  background: $backgroundGreyStrong;
  header {
    box-shadow: none !important;
    background: $colorPrimary;
    margin-bottom: 64px;
    width: 100%;
    .container {
      overflow: hidden;
    }
    .actions {
      float: right;
      margin-top: 16px;
      .user-action {
        cursor: pointer;
      }
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
      span {
        color: $colorWhite;
        font-family: $title-font;
        font-size: 14px;
        margin-left: 8px;
      }
      i {
        color: $colorWhite;
        margin-left: 8px;
      }
    }
  }
  .container {
    max-width: 960px;
  }
  .menu-list {
    list-style: none;
    padding: 0 48px 0 36px;
    .menu-section {
      color: $colorText;
      font-size: 16px;
      font-weight: bold;
      margin-top: 36px;
      margin-bottom: 8px;
      display: inline-block;
    }
    .menu-item {
      a, span {
        color: $colorText;
        cursor: pointer;
        font-size: 16px;
        display: block;
        padding: 8px 0;
        &:hover {
          color: $colorAccent;
          text-decoration: none;
        }
      }
      i {
        margin-right: 12px;
      }
    }
  }
  .top-tabs {
    border-bottom: 1px solid #e6e6e6;
    background: $colorWhite;
    text-align: center;
    margin-bottom: 32px;
    .row {
      margin: 0 auto;
      max-width: 720px;
    }
    a {
      display: block;
      color: $colorText;
      font-family: $title-font;
      padding: 12px 0;
      font-weight: bold;
    }
    .tab-item.active {
      border-bottom: 2px solid $colorRed;
      a {
        color: $colorRed;
      }
    }

  }
  .logo {
    float: left;
    img {
      height: 30px;
      margin: 16px;
    }
  }
  .logo-toolbar-app {
    height: 30px;
    margin: 16px 0;
  }
  .bottom-navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    .MuiBottomNavigation-root {
      border: 1px solid #efefef;
    }
  }
  .title-section {
    color: $colorPrimary;
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
}

.MuiDrawer-root {
  .MuiListItemIcon-root {
    min-width: 36px;
  }
  .MuiSvgIcon-root {
    font-size: 1.2rem;
  }
  .MuiTypography-root {
    font-size: 0.9rem;
  }
}

.app-content {
  background: $backgroundGreyStrong;
  border: 1px solid #efefef;
}

.MuiDrawer-paper {
  top: 64px !important;
}