$colorPrimary: #011e40;
$colorPrimaryDark: #000020;
$colorAccent: #6699CC;
$colorLink: #33658A;
$colorRed: #CC2936;
$colorText: #4D4D4F;
$colorSubText: #9E9E9E;
$colorLineGrey: #C7C7C7;
$backgroundGrey: #FAFAFA;
$backgroundGreyStrong: #F3F4F6;
$title-font: 'roboto';
$text-font: 'opensans';
$break-large: 768px;